.grid_background {
  --grid-lines: theme("colors.gray.800");
  --grid-bg: theme("colors.black");
  --grid-size: theme("spacing.9");
  --line-width: 1px;

  background-color: var(--grid-bg);
  background-image: linear-gradient(
      to bottom,
      var(--grid-lines) var(--line-width),
      transparent var(--line-width)
    ),
    linear-gradient(
      to right,
      var(--grid-lines) var(--line-width),
      transparent var(--line-width)
    );
  background-size: var(--grid-size) var(--grid-size);
  box-sizing: border-box;
}
